body{
    margin: 0%;
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                        'header header header header'
                        'section section section section'
                        'footer footer footer footer';
    grid-template-rows: 20vh 30vh 40vh 60vh;
    grid-template-columns: 25vh 25vh 25vh 25vh;
}

Nav{
    grid-area: nav;
    background-color: rgba(243, 10, 107, 0.863);
    background-image: url(ima.jpg);

}

nav h1{
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
}


nav a{
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    color: white;
}

header{
    grid-area: header;
    background-color: rgb(241, 169, 203);
}

section{
    grid-area: section;
    background-color: rgb(202, 82, 122);
}

footer{
    grid-area: footer;
    background-color: rgb(238, 59, 128);
}

footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}


@media(min-width: 768px){
    body{
        grid-template-areas: 'nav nav nav nav'
                            'header header section section'
                            'header header section section'
                            'footer footer footer footer';
    }
}

@media(min-width: 1024px) {
body{
    grid-template-areas:'nav nav section section'
                        'nav nav section section'
                        'header header footer footer'
                        'header header footer footer';
}
}
